
.image-1{
    margin-top: 25px;
}
.right-div p:nth-child(1){
    height: 112px;
    width: 555px;
    color: #2D200B;
    font-family: Kartooni;
    font-size: 48px;
    letter-spacing: 0;
    line-height: 56px;
    font-weight: 900;
}
.right-div p:nth-child(2){
    height: 224px;
    width: 572px;
    opacity: 0.8;
    color: #808080;
    font-family: "Crushy Black";
    font-size: 18px;
    letter-spacing: 0;
    line-height: 28px;
font-weight: 600;  
}