.section{
    background-color: white;
    /* padding-bottom: 50px; */
    padding-top: 25px;
}
.ul{
    margin-left: auto;
}
.navbar li{
    height: 20px;
    width: 124px;
    color: #000000;
    font-family: "Crushy Black";
    font-size: 20px;
    font-weight: bolder;
    letter-spacing: 0;
    line-height: 22px;
    text-align: center;
}
.navbar li :nth-child(1){
    list-style: none;
}
.contactUs{
    border-right: 2px solid gray;
}